@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

html,
body,
#__next {
  min-height: 100%;
  color: theme("colors.light");
  background-color: theme("colors.dark");
}

main {
  position: relative;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.green-list {
  list-style: none;
  margin-left: 1.2rem;

  li::before {
    content: "\2022";
    color: theme("colors.green");
    font-weight: bold;
    display: inline-block;

    font-size: 1.5rem;
    width: 1.2rem;
    margin-left: -1.2rem;
  }
}
